<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="text-align: center">상품 목록</h3>
<div class="container">
    <div class="row">
        <div th:each="dtos : ${dtos}" class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img th:src="@{|/thumb/Thumb_${dtos.storedFile}|}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${dtos.name}"></h5>
                    <p class="card-text" th:text="${dtos.contents}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${dtos.price}"></li>
                    <li class="list-group-item" th:text="${dtos.fileAttached}"></li>
                </ul>
                <div class="card-body">
                    <a th:href="@{|/Admin/modify/${dtos.idx}|}" class="card-link">수정</a>
                    <a th:href="@{|/Admin/delete/${dtos.idx}|}" class="card-link">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

