<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>번호</th>
        <th>아이디</th>
        <th>이름</th>
        <th>휴대폰</th>
        <th>이메일</th>
        <th>예치금</th>
        <th>등록날짜</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${member}">
        <td th:text="${board.idx}"></td>
        <td th:text="${board.userid}"></td>
        <td th:text="${board.name}"></td>
        <td th:text="${board.phone1 + '-' + board.phone2 + '-' + board.phone3}"></td>
        <td th:text="${board.email}"></td>
        <td th:text="${board.deposit}"></td>
        <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td>
            <button type="button">
                <a th:href="@{|/Admin/MemberDelete/${board.idx}|}">삭제</a>
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="8" align="center">
            <button type="button" onclick="location.href='/Admin/admin'">홈으로</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>