<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/Admin/save" method="post" enctype="multipart/form-data">
    <div style="text-align: center; max-width: 700px; margin: 4rem auto; ">
        <h3>상품 등록</h3>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">상품 이름</span>
            <input type="text" name="name" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <hr>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">가격</span>
            <input type="number" name="price" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <hr>
        <div class="input-group">
            <span class="input-group-text">설명</span>
            <textarea class="form-control" aria-label="With textarea" name="contents"></textarea>
        </div>
        <hr>
        <label class="input-group-text" for="first">카테고리</label>
            <select class="form-select" name="first" id="first" onchange="changeFirst()">
                <option value="">선택</option>
                <option th:each="category : ${category}" th:value="${category.first}" th:text="${category.categoryName}"></option>
            </select>
        <hr>
        <label class="input-group-text" for="second">중분류</label>
            <select class="form-select" name="second" id="second" style="display:none;" onchange="changeSecond()">
                <option value="0" selected>선택</option>
            </select>
        <hr>
        <label class="input-group-text" for="third">소분류</label>
            <select class="form-select" name="third" id="third" style="display:none;">
                <option value="0" selected>선택</option>
            </select>
        <hr>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">썸네일용 사진</label>
            <input type="file" class="form-control" id="inputGroupFile01" name="itemFile">
        </div>
        <hr>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">두번째 사진</label>
            <input type="file" class="form-control" id="inputGroupFile02" name="itemFile">
        </div>
        <hr>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">세번째 사진</label>
            <input type="file" class="form-control" id="inputGroupFile03" name="itemFile">
        </div>
        <hr>
        <button type="submit" class="btn btn-outline-secondary">등록</button>
    </div>
</form>
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">

    const changeFirst = () => {
       var first = document.getElementById('first').value;
       var second = document.getElementById('second').value;
    if(first != "") {
           $.ajax({
                url: '/Admin/first',
                data: { first: first, second:second},
                dataType: 'json',
                type: 'POST',
                success: function(data) {
                    document.getElementById('second').style.display = 'block';
                    // 요청이 성공했을 때 실행할 코드

                        $('#second').empty();
                         $('#second').append($('<option>', {
                            value: "0", // 서버에서 받은 데이터로 옵션 생성
                            text: "선택"
                        }));
                        $.each(data, function(index, value) {
                        $('#second').append($('<option>', {
                            value: value.second, // 서버에서 받은 데이터로 옵션 생성
                            text: value.categoryName
                        }));
                    });

                },
                error: function() {
                    // 요청이 실패했을 때 실행할 코드
                    console.log('Failed to load page');
                }
            });
            }else {
                document.getElementById('second').style.display = 'none';
                document.getElementById('third').style.display = 'none';
                $('#second').empty();
                         $('#second').append($('<option>', {
                            value: "0", // 서버에서 받은 데이터로 옵션 생성
                            text: "선택",
                            selected: true // 선택된 상태로 설정
                        }));
                $('#third').empty();
                        $('#third').append($('<option>', {
                            value: "0", // 서버에서 받은 데이터로 옵션 생성
                            text: "선택",
                            selected: true // 선택된 상태로 설정
                        }));
            }
}
       const changeSecond = () => {
           var first = document.getElementById('first').value;
           var second = document.getElementById('second').value;


        if(second == "0") {
             document.getElementById('third').style.display = 'none';
        }else{
        $.ajax({
            url: '/Admin/first',
            data: { first: first, second:second },
            dataType: 'json',
            type: 'POST',
            success: function(data) {
                document.getElementById('third').style.display = 'block';
                // 요청이 성공했을 때 실행할 코드
                    $('#third').empty();
                     $('#third').append($('<option>', {
                        value: "0", // 서버에서 받은 데이터로 옵션 생성
                        text: "선택"
                    }));
                    $.each(data, function(index, value) {
                    $('#third').append($('<option>', {
                        value: value.idx, // 서버에서 받은 데이터로 옵션 생성
                        text: value.categoryName
                    }));
                });
            },
            error: function() {
                // 요청이 실패했을 때 실행할 코드
                console.log('Failed to load page');
            }
        });
        }
 }
</script>
</html>