
#view {
    display:grid;
    align-items: center;
    grid-template-columns: 1.8fr 0.6fr;
}
#view_div {
    margin:90px;
}
#view_contents {
    position: fixed;
    width: 450px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border: 6px solid #ccc;
    }
