<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게터세터</title>
</head>
<body>
<div id="about_wrap">
    <th:block th:replace="~{/standard}"></th:block>
    <div>
        <h2 id="category">ABOUT</h2>
    </div>
    <div>
        <ul id="about">
            <li>
                <img src="/img/about.png" class="logo">
            </li>
            <li>
                첫번째 포트폴리오,, <br>
                내용,, <br>
                내용,, <br>
                내용,, <br>
                내용
            </li>
        </ul>
    </div>
</div>
<div id="footer">
    copyRightⓒ
</div>
</body>
</html>
