<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <style>
        #payment-button{ width:100%; padding:15px; background-color:#3065AC; color:white; border-radius:3px; font-size:16px; border:none; margin-top:10px}
        .title {margin: 0 0 4px; font-size: 24px; font-weight: 600;color: #4e5968;}
    </style>
</head>
<body>
<th:block th:replace="~{/standard}"></th:block>
<div id="buy_table" style="width:100%; text-align: -webkit-center;">
    <form action="buy-item" method="post">
    <h3>회원정보</h3>
    <table border="1" style="width:50%;">
        <tr>
            <td colspan="2">회원정보</td>
        </tr>
        <tr>
            <td>이름</td>
            <td th:text="${user.name}" style="width: 600px;"></td>
        </tr>
        <tr>
            <td>번호</td>
            <td th:text="${user.phone}"></td>
        </tr>
        <tr>
            <td>예치금</td>
            <td th:text="${user.deposit}"></td>
        </tr>
    </table>
    <br>
        <h3>배송지</h3>
    <table border="1" style="width:50%;">
        <tr>
            <td>이름</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>
                <select name="tel1" >
                    <option value="선택"></option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                </select>
                <input type="number" name="tel2">
                -
                <input type="number" name="tel3">
            </td>
        </tr>
        <tr>
            <td>주소</td>
            <td>
                <input type="text" id="sample4_postcode" placeholder="우편번호" name="address1">
                <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="address2">
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소" name="address3">
                <span id="guide" style="color:#999;display:none"></span>
                <input type="text" id="sample4_detailAddress" placeholder="상세주소" name="address4">
            </td>
        </tr>
        <tr>
            <td>배송메세지</td>
            <td>
                <textarea name="contents" cols="30" rows="2"></textarea>
            </td>
        </tr>
    </table>
    <br>
        <h3>선택상품</h3>
    <table border="1" style="width:50%;">
        <tr>
            <td>사진</td>
            <td>이름</td>
            <td>수량</td>
            <td>가격</td>
        </tr>
        <tr th:each="dtos:${dtos}">
            <td>
                <img th:src="@{|/thumb/Thumb_${dtos.item.itemFileEntities.get(0).StoredFileName}|}" style="width:100px; height:100px" >
            </td>
            <td th:text="${dtos.item.name}"></td>
            <input type="hidden" name="itemIdx" th:value="${dtos.item.idx}">
            <input type="hidden" name="itemIdx" th:value="${dtos.quantity}">
            <td th:text="${dtos.quantity}"></td>
            <td th:text="${#numbers.formatInteger(dtos.item.price * dtos.quantity, 0, 'COMMA')} + '원'"></td>
        </tr>
    </table>
    <br>
        <h3>결제 정보</h3>
    <table border="1" style="width:50%">
        <tr>
            <td>배송비</td>
            <td>무료</td>
        </tr>
        <tr>
            <td>할인</td>
            <td>0</td>
        </tr>
        <tr>
            <td>총 가격</td>
            <td style="width: 600px;" th:text="${total}"></td>
            <input type="hidden"name="total" th:value="${total}">
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table border="1" style="width:50%">
        <tr>
            <td>
                <div class="title">결제 방법</div>
                <div id="payment-method"></div>
                <div id="agreement"></div>
            </td>
        </tr>
        <tr>
            <td>
                <!-- 결제 버튼 -->
                <input type="submit" id="payment-button" value="결제하기">
            </td>
        </tr>
    </table>
    </form>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
<script>
    const clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq' // 상점을 특정하는 키
    const customerKey = 'YbX2HuSlsC9uVJW6NMRMj' // 결제 고객을 특정하는 키
    const amount = 15_000 // 결제 금액

    /*결제위젯 영역 렌더링*/
    const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
    paymentMethods = paymentWidget.renderPaymentMethods('#payment-method', amount)

    /*약관 영역 렌더링*/
    const paymentAgreement = paymentWidget.renderAgreement('#agreement')

</script>
</body>
</html>